<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <img class="bookCover" src="<%= book.image_url %>">
        <h2 class="bookTitle"><%= book.title %></h2>
        <h4 class="bookAuthor"> <%= book.author %> </h4>
        <p><%= book.description %></p>
    </main>
</body>
</html>
