<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search by Title or Author</h1>
    <form action="/searches" method="POST">
        <input type="text" placeholder="Enter a title or author" name="search">
        <label for="title">Title <input type="radio" id="title" value = "title" name="title"></label>
        <label for="author">Author <input type="radio" id="author" value="author" name="author"></label>
        <button type="submit">Search the Google Books API</button>

    </form>
</body>
</html>