main section{
    grid-row: 7;
}
header h1{
    grid-column: 1;
}
header ul{
    grid-column: 2;
}
header i {
    grid-column: 3;
}

main h6{
    grid-row: 2;
}
main h1{
    width: 100%;
    grid-row: 1;
}
main ul{
    grid-row: 2;
}
main ul{
    justify-items: center;
    margin: auto;
    margin-top: 30px;
    width:100%;

  }
form{
    text-align: center;
    grid-row: 2;
}