header h1{
    color:white;
font-size: x-large;
}

main h1{
   font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    background-color: rgb(85, 84, 84);
}
h2 , h3{
    font-size: x-large;
    font-family: cursive;
}
ul li{
    background-color: rgb(223, 221, 221);
    text-align: center;
    width: 80%;
    margin: auto;
    height: 95%;
    margin-bottom: 30px;
    border-radius: 10px;
}
ul li section{
    margin-top: 5%;
}
li section h2{
    font-size: small;
    color: white;
    font-style: unset;
}
li section h3{
    margin-top: 10px;
    font-size: x-small;
    color: black;
}
li p{
    margin-top: 5px;
    left: 0px;
    font-size: x-small;
    color: black;
    text-align: start;
}
li section{
  width: 60%;  
  margin: auto;
  
}
button{
     background-color: black;
     outline: none;
     color: white;
 }

 .tabs , .tabs li{
     color:white;
     background-color: black;
     text-align:center;

 }

 #search{
     margin-top: 30%;

 }
 
 #searchBy label{
    background-color: rgb(218, 213, 213);
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
 }