<header>
    <h1>Best Books!</h1>
    <button id ='burger'><i class="fa fa-bars fa-2x"  aria-hidden="true" style="color: aliceblue;"></i></button>
    <ul class="tabs">
       <a href="/"><li>HOME</li></a> 
       <a href="/searches/new"> <li>SEARCH</li></a> 
    </ul>
</header>